*.tar.gz
*.swp
*.log
*.textlog
*.retry
*.sublime-*
.vscode
.idea/
*.mp4
**/venv/*
**/virtualenv/*
.hypothesis
.ipynb_checkpoints
**/build/*
**/dist/*
*.spec

# python cache files
__pycache__/
.pytest_cache

# Crash log files
crash.log
.vault_pass.txt
.DS_Store
.htaccess
htpasswd
account.json
