## requirements.txt
## used by https://github.com/ifrankandrade/automation
## and fork https://github.com/mvilain/python-automation
## use this with a virtual environment 
## (e.g. python3 -m venv <path>; python3 -m pip install -r requirements)
pathlib

## https://camelot-py.readthedocs.io/en/master/user/install-deps.html
ghostscript
tk
## https://stackoverflow.com/questions/60666006/python-camelot-module-does-not-work-offline
opencv-python
camelot-py

jupyterlab
pandas
openpyxl

selenium
pyinstaller

## the following are part of the standard Library install
## they don't need to be listed here but are used by this repo
#email
#ssl
#time
#wheel
